{{define "Index"}}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
</head>
<body>
    <h1>Loja de mangás</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mangá "Tomie" by Junji Ito</td>
                <td>Número de páginas: 376; Idioma: Português; Editora: Pipoca e Nanquim; Data da publicação: 10 outubro de 2021</td>
                <td>97,86</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Mangá "Uzumaki" by Junji Ito</td>
                <td>Número de páginas: 668; Idioma: Português; Editora: Pipoca e Nanquim; Data da publicação: 29 de abril de 2020</td>
                <td>146,59</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>

{{end}}